$size: 36;

$white: #ffffff;
$white20: rgba(255, 255, 255, .2);
$white38: rgba(255, 255, 255, .38);
$white60: rgba(255, 255, 255, .60);
$white86: rgba(255, 255, 255, .86);
$white90: rgba(255, 255, 255, .9);

$black: #000000;
$black3: rgba(0, 0, 0, .03);
$black20: rgba(0, 0, 0, .2);
$black30: rgba(0, 0, 0, .3);
$black60: rgba(0, 0, 0, .6);
$black90: rgba(0, 0, 0, .9);

$F7F7F7: #F7F7F7; // 普通模式背景色
$six: #262626; // 暗黑模式卡片背景色
$five: #007DFF; // 普通模式字体颜色
$nine: #3F97E9; // 暗黑模式字体颜色
/* 字体颜色 strat */
.c_90 {
    color: rgba(0, 0, 0, .9);
}

.c_60 {
    color: rgba(0, 0, 0, .6);
}

.c_007DFF {
    color: #007DFF;
}

.c_FA2A2D {
    color: #FA2A2D;
}

/* 字体颜色 end */

/* 背景颜色start */
.bg_F7F7F7 {
    background-color: #F7F7F7;
}

.bg_FFFFFF {
    background-color: #ffffff;
}

.bg_007DFF {
    background-color: #007DFF;
}

.bg_button {
    background-color: rgba(0, 0, 0, .05);
}

// 带透明度颜色命名在颜色6位后面加上不透明度
.bg_007DFF10 {
    background-color: rgba(0, 125, 255, 0.1);
}

.bg_slider {
    background-color: rgba(0, 0, 0, .1);
}

.bg_card {
    border-radius: 0.22rem;
    background-color: #ffffff;
    box-shadow: 0 0.083rem 0.166rem 0 rgba(0, 0, 0, .03);
}

/* 背景颜色end */

/* 分割线 */
.split-top {
    border-top: 0.0069rem solid rgba(0, 0, 0, .2);
}

.split-left {
    border-left: 0.0069rem solid rgba(0, 0, 0, .2);
}

.split-right {
    border-right: 0.0069rem solid rgba(0, 0, 0, .2);
}

.split-bottom {
    border-bottom: 0.0069rem solid rgba(0, 0, 0, .2);
}

/* 分割线 */

.theme-dark {
    background-color: #000000!important;
    .c_90 {
        color: rgba(255, 255, 255, .86);
    }

    .c_60 {
        color: rgba(255, 255, 255, .6);
    }

    .c_007DFF {
        color: #3F97E9;
    }

    .c_FA2A2D {
        color: #E64548;
    }

    .bg_F7F7F7 {
        background-color: #000000;
    }

    .bg_FFFFFF {
        background-color: #000000;
    }

    .bg_007DFF {
        background-color: #006CDE;
    }

    .bg_button {
        background-color: rgba(255, 255, 255, .1);
    }

    .bg_007DFF10 {
        background-color: rgba(0, 108, 222, .1);
    }

    .bg_slider {
        background-color: rgba(255, 255, 255, .1);
    }

    .bg_card {
        background-color: #262626;
        box-shadow: 0 0.0083rem 0.166rem 0 rgba(255, 255, 255, .03);
    }

    .split-top {
        border-top: 0.0069rem solid rgba(255, 255, 255, .2);
    }

    .split-left {
        border-left: 0.0069rem solid rgba(255, 255, 255, .2);
    }

    .split-right {
        border-right: 0.0069rem solid rgba(255, 255, 255, .2);
    }

    .split-bottom {
        border-bottom: 0.0069rem solid rgba(255, 255, 255, .2);
    }
}